<p id="notice"><%= notice %></p>
<main id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Courses</h2>
      <p> Check out our vast collection of courses</p>
    </div>
  </div>

  <!-- ======= Courses Section ======= -->
  <section id="courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

        <%= render :partial => 'shared/course' %>

      </div>

    </div>
  </section><!-- End Courses Section -->

</main><!-- End #main -->


