// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* Video card section */
/* Related videos */
/* Resources section */
.carousel-cell {
  width: 78%;
  height: 400px;
  margin-right: 20px;
  margin-top: 3%;
  margin-left: 3%;
}
.ais-InstantSearch {
  margin: 5% 0;
  text-align: center;
}
.video-card {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  background-color: #fff;
  border-radius: 20px;
  height: 350px;
  box-shadow: 3px 3px 3px 4px #ccc;
}
.video {
  border-radius: 20px;
  height: 180px;
  box-shadow: 8px 8px 8px 8px #ccc;
}
.video-title {
  margin: 5%;
}
.author-details {
  display: flex;
  justify-content: space-around;
  margin: 3%;
  border-top: 1px solid gray;
}
.profile-image {
  background-color: gray;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-top: 4%;
}
.profile-description {
  height: 40px;
  margin-left: 5%;
  margin-top: 6%;
}
.watch-btn {
  margin-top: 10%;
  height: 30px;
  width: 80px;
  border: 1px solid #5fcf80;
  h3 {
    font-size: 18px;
    a {
      color: white;
      padding-right: 18px;
      padding-left: 0;
    }
  }

  padding: 0 20px 2px 20px;
  background: #5fcf80;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.watch {
  margin-right: 2%;
  height: 40px;
  margin-left: 5%;
  margin-top: 4%;
}
.related-videos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-left: 0;
}
.carousel-cell-2 {
  margin-right: 30px;
  width: 70%;
  margin-bottom: 5%;
}
.suggestions {
  margin-top: 10%;
}
.video-suggestion {
  height: 150px;
  video {
    height: 100px;
  }
}
.text {
  p {
    color: white;
  }
}
.suggestion-description {
  display: flex;
  margin-left: 5%;
}
.suggestion-profile {
  border: 4px solid #ef4832;
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 1%;
  margin-left: 50%;
}
.resources {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  background-color: #fff;
  border-radius: 20px;
  height: 250px;
  box-shadow: 3px 3px 3px 4px #ccc;
}
.text-and-image {
  display: flex;
}
@media only screen and (max-width:767px) {
  .other-vids {
    >* {
      display: none;
    }
  }
}
@media only screen and (min-width:768px) {

  .other-vids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .card-1 {
    grid-column: 1 / 2;
    margin-right: 4%;
    grid-row: 1 / 2;
  }
  .card-2 {
    grid-column: 2 / 3;
    margin-right: 4%;
    grid-row: 1 / 2;
  }
  .card-3 {
    grid-column: 3 / -1;
    margin-right: 4%;
    grid-row: 1 / 2;
  }
  .card-4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-right: 4%;
  }
  .card-5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-right: 4%;
  }
  .card-6 {
    grid-column: 3 / -1;
    grid-row: 2 / 3;
    margin-right: 4%;
  }
  .resources {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 150px;
  }
  .suggestion-profile {
    margin-left: 60%;
  }
  .item-1 {
    display: grid;
    grid-column: 1 / 2;
    height: 80px;
  }
  .item-2 {
    display: grid;
    grid-column: 2 / 3;
    height: 80px;
  }
  .item-3 {
    display: grid;
    grid-column: 3 / -1;
    height: 90px;
  }
  .text-and-image {
    display: flex;
    justify-content: flex-start;
  }
}
