<div class="container">
<div class="nav-bar">
  <div class="search-bar">
    <div class="card pt-4 mt-3">
        <h3 class="heading text-center mt-5">
            Hi! Search for your preferred video
        </h3>
        <div class="d-flex justify-content-center px-5">
            <div class="search">
                <input type="text" class="search-input" placeholder="Search">
                <a href="#" class="search-icon"></a>
                
            </div>
        </div>
    </div>
  </div>
  <div class="user-icon">
    <i class="fa fa-7x fa-user-circle-o" aria-hidden="true"></i>
  </div>
</div>
<div class="carousel" data-flickity='{ "wrapAround": true }'>
  <div class="carousel-cell">
    <article class="video-card">
      <div class="video"></div>
      <div class="video-title">
        <h5>Some awesome video from user</h5>
      </div>
      <div class="author-details">
        <div class="profile-image">
          <img src="" alt="profile" />
        </div>
        <div class="profile-description">
          <p>User</p>
          <p>More abou user</p>
        </div>
        <div class="watch">
          <button class="watch-btn">
            <h3>Watch</h3>
          </button>
        </div>
      </div>
    </article>
  </div>
  <div class="carousel-cell">
    <article class="video-card">
      <div class="video"></div>
      <div class="video-title">
        <h5>Some awesome video from user</h5>
      </div>
      <div class="author-details">
        <div class="profile-image">
          <img src="" alt="profile" />
        </div>
        <div class="profile-description">
          <p>User</p>
          <p>More abou user</p>
        </div>
        <div class="watch">
          <button class="watch-btn">
            <h3>Watch</h3>
          </button>
        </div>
      </div>
    </article>
  </div>
  <div class="carousel-cell">
    <article class="video-card">
      <div class="video"></div>
      <div class="video-title">
        <h5>Some awesome video from user</h5>
      </div>
      <div class="author-details">
        <div class="profile-image">
          <img src="" alt="profile" />
        </div>
        <div class="profile-description">
          <p>User</p>
          <p>More abou user</p>
        </div>
        <div class="watch">
          <button class="watch-btn">
            <h3>Watch</h3>
          </button>
        </div>
      </div>
    </article>
  </div>
  <div class="carousel-cell">
    <article class="video-card">
      <div class="video"></div>
      <div class="video-title">
        <h5>Some awesome video from user</h5>
      </div>
      <div class="author-details">
        <div class="profile-image">
          <img src="" alt="profile" />
        </div>
        <div class="profile-description">
          <p>User</p>
          <p>More abou user</p>
        </div>
        <div class="watch">
          <button class="watch-btn">
            <h3>Watch</h3>
          </button>
        </div>
      </div>
    </article>
  </div>
  <div class="carousel-cell">
    <article class="video-card">
      <div class="video"></div>
      <div class="video-title">
        <h5>Some awesome video from user</h5>
      </div>
      <div class="author-details">
        <div class="profile-image">
          <img src="" alt="profile" />
        </div>
        <div class="profile-description">
          <p>User</p>
          <p>More abou user</p>
        </div>
        <div class="watch">
          <button class="watch-btn">
            <h3>Watch</h3>
          </button>
        </div>
      </div>
    </article>
  </div>
</div>
<div class="other-vids">
  <article class="card-1 video-card">
    <div class="video"></div>
    <div class="video-title">
      <h5>Some awesome video from user</h5>
    </div>
    <div class="author-details">
      <div class="profile-image">
        <img src="" alt="profile" />
      </div>
      <div class="profile-description">
        <p>User</p>
        <p>More abou user</p>
      </div>
      <div class="watch">
        <button class="watch-btn">
          <h3>Watch</h3>
        </button>
      </div>
    </div>
  </article>

  <article class="card-2 video-card">
    <div class="video"></div>
    <div class="video-title">
      <h5>Some awesome video from user</h5>
    </div>
    <div class="author-details">
      <div class="profile-image">
        <img src="" alt="profile" />
      </div>
      <div class="profile-description">
        <p>User</p>
        <p>More abou user</p>
      </div>
      <div class="watch">
        <button class="watch-btn">
          <h3>Watch</h3>
        </button>
      </div>
    </div>
  </article>
  <article class="card-3 video-card">
    <div class="video"></div>
    <div class="video-title">
      <h5>Some awesome video from user</h5>
    </div>
    <div class="author-details">
      <div class="profile-image">
        <img src="" alt="profile" />
      </div>
      <div class="profile-description">
        <p>User</p>
        <p>More abou user</p>
      </div>
      <div class="watch">
        <button class="watch-btn">
          <h3>Watch</h3>
        </button>
      </div>
    </div>
  </article>
  <article class="card-4 video-card">
    <div class="video"></div>
    <div class="video-title">
      <h5>Some awesome video from user</h5>
    </div>
    <div class="author-details">
      <div class="profile-image">
        <img src="" alt="profile" />
      </div>
      <div class="profile-description">
        <p>User</p>
        <p>More abou user</p>
      </div>
      <div class="watch">
        <button class="watch-btn">
          <h3>Watch</h3>
        </button>
      </div>
    </div>
  </article>
  <article class="card-5 video-card">
    <div class="video"></div>
    <div class="video-title">
      <h5>Some awesome video from user</h5>
    </div>
    <div class="author-details">
      <div class="profile-image">
        <img src="" alt="profile" />
      </div>
      <div class="profile-description">
        <p>User</p>
        <p>More abou user</p>
      </div>
      <div class="watch">
        <button class="watch-btn">
          <h3>Watch</h3>
        </button>
      </div>
    </div>
  </article>
  <article class="card-6 video-card">
    <div class="video"></div>
    <div class="video-title">
      <h5>Some awesome video from user</h5>
    </div>
    <div class="author-details">
      <div class="profile-image">
        <img src="" alt="profile" />
      </div>
      <div class="profile-description">
        <p>User</p>
        <p>More abou user</p>
      </div>
      <div class="watch">
        <button class="watch-btn">
          <h3>Watch</h3>
        </button>
      </div>
    </div>
  </article>
</div>
<div class="related-videos">
  <h4>You might be interested in</h4>
  <p>See more</p>
</div>
<div class="carousel2" data-flickity='{ "freeScroll": true }'>
  <div class="carousel-cell-2">
    <article class="suggestions">
      <div class="video video-suggestion">
        <video src=""></video>
        <div class="suggestion-description">
          <div class="text">
            <p>Something</p>
            <p>More things</p>
          </div>
          <div class="suggestion-profile">
            <img src="" alt="profile" />
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="carousel-cell-2">
    <article class="suggestions">
      <div class="video video-suggestion">
        <video src=""></video>
        <div class="suggestion-description">
          <div class="text">
            <p>Something</p>
            <p>More things</p>
          </div>
          <div class="suggestion-profile">
            <img src="" alt="profile" />
          </div>
        </div>
      </div>
    </article>
  </div>
  <div class="carousel-cell-2">
    <article class="suggestions">
      <div class="video video-suggestion">
        <video src=""></video>
        <div class="suggestion-description">
          <div class="text">
            <p>Something</p>
            <p>More things</p>
          </div>
          <div class="suggestion-profile">
            <img src="" alt="profile" />
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

<div class="related-videos">
  <h4>Resources Center</h4>
</div>

<article class="resources">
  <div class="item-1 author-details">
    <div class="text-and-image">
      <div class="profile-image">
        <img src="" alt="profile" />
      </div>
      <div class="profile-description">
        <p>Books</p>
        <p>Latest Computer Science Books</p>
      </div>
    </div>

    <div class="watch">
      <button class="watch-btn">
        <h3>View</h3>
      </button>
    </div>
  </div>
  <div class="item-2 author-details">
    <div class="text-and-image">
      <div class="profile-image">
        <img src="" alt="profile" />
      </div>
      <div class="profile-description">
        <p>Tutors</p>
        <p>Connect with a tutor</p>
      </div>
    </div>

    <div class="watch">
      <button class="watch-btn">
        <h3>View</h3>
      </button>
    </div>
  </div>
  <div class="item-3 author-details">
    <div class="text-and-image">
      <div class="profile-image">
        <img src="" alt="profile" />
      </div>
      <div class="profile-description">
        <p>Exams</p>
        <p>Practice for your exams</p>
      </div>
    </div>

    <div class="watch">
      <button class="watch-btn">
        <h3>View</h3>
      </button>
    </div>
  </div>
</article>
</div>